<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for category in categories %}
    <p>
        <a href="{% url 'category' category.slug %}">{{category.name}}</a>
    </p>
    {% endfor %}

    <h2>Посты</h2>
    <p>
        <ul>
        {% for post in post_list %}
            <!--<h2><a href="{% url 'detail_post' post.category.slug post.slug %}">{{ post.title }}</a></h2>-->
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p>{{ post.mini_text }}</p>
            <small>{{ post.published_date }}</small>
            <small>Просмотров - {{ post.viewed }}</small><br>
            <small>Комментариев - {{ post.get_comments_count }}</small>
            <p>
                Теги -
                {% for tag in post.tags.all %}
                    <a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>,
                {% endfor %}
            </p>
        {% endfor %}
        </ul>
    </p>

</body>
</html>